<%- include('../partials/header') %>

<h2>Flight Details</h2>
<section id="show-page">
  <div>Airline: <%= flight.airline %></div>
  <br>
  <div>Flight Number: <%= flight.flightNo %></div>
  <br>
  <div>Departure Details: </div> 
    <ul class="flight-info">
        <li class="airport-code">Departure Airport: <%= flight.airport %></li>
        <li class="departure-date">Date & Time: <%= flight.departureDate %></li>
    </ul>
  <div>Arrival Details: </div>
    <ul class="flight-info">
        <% if (flight.destination.length) { %>
        <% flight.destination.forEach(function(item) { %>
          <li class="airport-code">Destination Airport: <%= item.destination %></li>
          <li class="arrival-date">Date & Time: <%= item.arrivalDate %></li>
        </ul>
        <% }); %>  
        <% }; %>  
</section>

<br>

<section>

<h3>Add a Destination</h3>

<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Airport Destination:</label>
        <select name="destination">
            <option value="(ATL) Atlanta, GA">(ATL) Atlanta, GA</option>
            <option value="(AUS) Austin, TX">(AUS) Austin, TX</option>
            <option value="(DFW) Dallas, TX">(DFW) Dallas, TX</option>
            <option value="(DEN) Denver, CO">(DEN) Denver, CO</option>
            <option value="(JFK) New York, NY">(JFK) New York, NY</option>
            <option value="(LAX) Los Angeles, CA">(LAX) Los Angeles, CA</option>
            <option value="(MCO) Orlando, FL">(MCO) Orlando, FL</option>
            <option value="(MIA) Miami, FL">(MIA) Miami, FL</option>
            <option value="(SAN) San Diego, CA">(SAN) San Diego, CA</option>
            <option value="(SEA) Seattle, WA">(SEA) Seattle, WA</option>
            <option value="(SFO) San Francisco, CA">(SFO) San Francisco, CA</option>
        </select>
    <br><br>  
    <label>Arrival Date & Time:</label>
    <input type="datetime-local" name="arrivalDate" required>
<br><br><br>
  <input type="submit" value="Add Destination">
</form>
</section>

<br>

<section>

<h3>Add a Ticket</h3>

<form id="add-ticket-form" method="POST"
  action="/flights/<%= flight._id %>/tickets">
  <label>Seat Number:</label>
    <input type="text" name="seat" placeholder="i.e. A1" required>
  <br><br> 
  <label>Price:</label>
    <input type="number" step=".01" name="price" placeholder="i.e. 349.50" required>
  <br><br> 
    <input type="submit" value="Add Ticket">
</form>

<br>

<h3>Currently Sold Tickets</h3>
  <% if (tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat Number</th>
          <th>Price Sold</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Tickets Yet</h5>
  <% } %>
</section>

<%- include('../partials/footer') %>